NODE_ENV=development

NEXT_PUBLIC_APP_NAME=SmartStickyNote
NEXT_PUBLIC_APP_VERSION=0.1.0

# Internal URL used by Next.js rewrites (server-side only)
API_INTERNAL_URL=http://127.0.0.1:5011

# Public API prefix used in browser (must match Nginx rewrite)
NEXT_PUBLIC_API_URL=/api
